<%- include("header") -%>

  <div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
  </div>

  <div class="box">
    <form class="" action="/delete" method="post">
      <% newListItems.forEach(function(items){ %>
        <div class="item">
          <input type="checkbox" onChange="this.form.submit()" name="checkBox" value=<%=items._id%>>
          <p><%=  items.name  %></p>
        </div>
        <% }); %>
        <input type="hidden" name="listName" value="<%=listTitle%>">
    </form>

      <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list" value=<%=listTitle%>>+</button>
      </form>
  </div>

<%- include("footer") -%>
